<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}


<div id='mydiv' style = "position:relative; left:-400px; top:10px;">
  <img src="{{url_for('static', filename='bb.png')}}" ,
  width="500" ,height="600"
  
  />
</div>
<h1>مرحبا بكم في صفحة المحلل الآلي للغة العربية</h1>
<p style = "margin-bottom:50px">
  نحن نهدف في هذاالعمل بتحليل الكلمات و الجمل باللغة العربية<br />
  </p>

  <form action="" method="post" name="inputText">
    <fieldset  style = "margin-left: 350px; width:50px;left:400px; top:10px; bottom: -500px;" >
      <legend>النص المدخل</legend>
      <div style = font-size:16px; font-weight:bold; margin-left:50px;>

        <p>
          :الرجاء إدخال النص المراد تحليله <br />
          {{ form.inputText(size=400, placeholder="أكتب هنا......") }}<br />

          {% for error in form.inputText.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br />
        </p>
       <br />
      
          <input type="radio" name="book" value="none" checked="checked">None. User text - Language:
            <input type="radio" name="lang" value="EN" checked="checked">English
           </p>
    </fieldset>
    <fieldset  >
      <legend>الإعدادات</legend>

        <p>{{ form.ignoreCase }} ignore case

        <div id="explainCase" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>ignore case</h2>
            <p>By checking this box, it will change all capital letters into lower-case.</p>
            <p>In this way words like "book" and "Book" will be considered the same.</p>
          </div>
        </div> </p>

        <p>{{ form.ignoreStopWords }} ignore stopwords (articles, conjunctions, ...)
          <div id="explainStopwords" class="modalDialog">
            <div>
              <a href="#close" title="Close" class="close">X</a>
              <h2>ignore stopwords</h2>
              <p>By checking this box, it will ignore all stopwords in the text.</p>
              <p>Stop words are those common words that do not contribute much to the content or meaning
                of a document (e.g., for English language these could be “the”, “a”, “is”, “to”, etc.).</p>
              <p>See <a href=https://mashimo.wordpress.com/2014/05/11/the-hello-world-of-text-processing/">
              this post </a> for details.</p>
            </div>
          </div> </p>

        <p><input type="checkbox" name="stemming" unchecked>
        Enable stemming (English only, will be slower): 

        Stem or&nbsp;
        <label class="switch">
          <input type="checkbox" name="engine"  checked>
          <span class="slider"></span>
        </label>
        
        <a hrekjjk jka>
        
        <div id="explainSwitch" class="modalDialog">
          <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>Stems or Lemmas?</h2>
            <p>Stem is the part of the word that never changes even when morphologically inflected;
            a lemma is the base form of the word. </p>
            <p>The switch will analyse the text and reduce the tokens to one of the two forms,
              using NLTK (Natural Language toolkit), a Python library for processing human languages data.</p>
            <p>See <a href="https://mashimo.wordpress.com/2017/09/25/introduction-to-ntlk">
              this post </a> for details.</p>
          </div>
        </div></p>
    </fieldset>

    <fieldset  style = "margin-left: 250px; width:700px;left:400px; top:10px; bottom: -500px;">
      <legend>الأدوات المتوفرة</legend>
        <nav>
          <button class="big-btn" name="action-button" type="submit" value="TA">Basic Analysis</button>
          <button class="big-btn" name="action-button" type="submit" value="SA">Sentiments Analysis</button>
          <button class="big-btn" name="action-button" type="submit" value="DA" >Dialect Model</button>
         
        </nav>

      </div>
    </fieldset>
  </form>
{% endblock %}
